svg[xmlns="http://www.w3.org/2000/svg" id="test" onclick="toggle_visibility()" width="20" height="20" fill="currentColor" class="bi bi-search clickable" viewBox="0 0 16 16" style="margin-right: 10px;"]
  path[d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"]
input[id="search-bar" placeholder="Search", style="height: 30px;" type="hidden" onsubmit="test()"]

javascript:
  function toggle_visibility() {
    search_bar = document.getElementById("search-bar")
    search_bar.type = search_bar.type === "hidden" ? "" : "hidden"
  }

  document.getElementById('search-bar').onkeydown = function(e){
    if (e.keyCode == 13) {
      window.location.href = "/search?entry=" + e.target.value
    }
  };