.sign-container {
  background-color: #F5F5F5;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 60px;
}

.sign-field {
  width: 50%;
  height: 50px;
}

.sign-title {
  margin: 30px 0 20px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.sign-border {
  border-bottom: 1px solid gray;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sign-prompt {
  font-family: Arial, Helvetica, sans-serif
}