// Place all the styles related to the HomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* stylelint-disable selector-list-comma-newline-after */

.carousel-caption {
  text-shadow: 2px 2px black;
}

.carousel-item {
  height: 400px;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
}

.main_news_image {
  height: 400px;
}

.side_news_image {
  height: 133px
}

.headline_section_title {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-style: italic;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}